@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  background-color: #e5dfdf;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #bdb6b6;
  border: 5px solid #e5dfdf;
  border-radius: 20px;
  margin: 3px;
}
@supports (scrollbar-color: #bdb6b6 #e5dfdf) {
  * {
    scrollbar-color: #bdb6b6 #e5dfdf;
    scrollbar-width: auto;
  }
} */

@layer components {
  .button {
    @apply text-center font-normal w-full text-base rounded-3xl py-3;
  }
  .text-shadow {
    text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.6);
  }

  .mask-image {
    mask-image: linear-gradient(black, transparent);
  }
  /* .grid-layout {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
  }
  .first-card {
    grid-column: span 2;
    border: 4px solid gray;
  } */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
